* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/*background-image: url("./assets/img/tapsilog.jpg");
	background-repeat: none;
	background-size: cover;*/
	background-color: #EAE2B7;
/*	opacity: 0;*/
}
body:hover {
	opacity: 1;
}

.container {
	/*height: 1000px;*/
	text-align: center;
	color: gray;
	padding-top: 4%;
	height: 85%;
	background-color: transparent;
	margin-top: 10%;
}

#locmap {
	width: 100%;
}

.fa-times-circle {
	color: white;
	padding-top: 10%;
}



/*sample*/
nav a:hover {
	/*background-color: transparent;*/
	color: #FF9F1C;

}
nav:hover {
	/*background-color: transparent;*/
	color: #264653;
	background: transparent;
}

/* Add a black background color to the top navigation */
nav {
    background-color: #FF9F1C;
    backface-visibility: visible;
    overflow: hidden;
}

 /*Style the links inside the navigation bar */
nav a {
    float: left;
    color: #1B645C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navlogo {
	color: #1B645C;
	font-family: 'Pacifico', cursive;
	text-shadow: 2px 2px #FDFFFC;
}

#navpadding {
	padding-top: 0;
	padding-bottom: 0;
}

/*footer:hover {
	opacity: 1;
}*/
footer {
	height: 3%;
	width: 100%;
	background-color: #FA7921;
	
}

footer a {
	letter-spacing: 20px;
	color:gray;
}
footer a:hover {
	letter-spacing: 20px;
	color:white;
	background: transparent;
}
footer:hover {
	background: transparent;
}
#leftfooter {
	text-align: center;
}
#rightfooter {
	text-align: center;
}

