* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/*background-image: url("./assets/img/tapsilog.jpg");
	background-repeat: none;
	background-size: cover;*/
	background-color: #EAE2B7;
	
}


.container {
	/*height: 1000px;*/
	text-align: center;
	color: gray;
	padding-top: 7%;
	height: 85%;
	/*background-color: lightgrey;*/
}

footer:hover {
	opacity: 1;
}
footer {
	height: 5%;
	width: 100%;
	padding-top: 5%; 
	opacity: 0;
}

/*sample*/
nav a:hover {
	background-color: #EAE2B7;
	color: #1B645C;
	
}
nav:hover {
	/*background-color: transparent;*/
	color: #264653;
	/*background: transparent;*/
}

/* Add a black background color to the top navigation */
nav {
    background-color: #FF9F1C;
    backface-visibility: visible;
    overflow: hidden;
}

 /*Style the links inside the navigation bar */
nav a {
    float: left;
    color: #1B645C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover 
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
/*nav a.active {
    background-color: #4CAF50;
    color: white;
}*/
/*sample*/

#navpadding {
	padding-top: 0;
	padding-bottom: 0;
}

img:hover {
	shape-image-threshold: 
}
