* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #EAE2B7;
	
}


.container:after {
	content: "";
	display: block;
	clear:both;
}

header a {
    text-align: center;
 	 padding-bottom: 1%;
    text-decoration: none;
    color: #FF9216;
	font-family: 'Comfortaa', cursive;
	/*text-shadow: 2px 2px #FDFFFC;*/
}

header a:hover {
    text-align: center;
   	padding-bottom: 1%;
    text-decoration: none;
    color: white;
	font-family: 'Comfortaa', cursive;
	/*text-shadow: 2px 2px #FDFFFC;*/
	 line-height: 20px;
}


.container {
	height: 100vh;
	color: black;
	margin-top: 2%;	
	/*margin-bottom: 1%;*/
	width: 80%;
	border:2px solid #EAE2B7;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    background-color: black;
    background:rgba(253,255,252,0.25);
    opacity:1;
}
#sayingTodayrow {
    width: 80%;
    height: 20vh;
    /*border:2px solid red;*/
    color:white;
    text-align: center;
    margin-top: 1%;
    padding-top: 3%;
    opacity: 1; 
 }

 #mediarow{
 	width: 80%;
 	height: 45vh;
 	/*border:2px solid red;*/
 	text-align: center;
 	opacity: 1;
 	padding-top: 1%;	
 }
 #nav2nd {
 	height: 5vh;
	width: 80%;
	text-align: center;	
	 color:white;
	 /*border:2px solid red;*/
      opacity: 1;
      line-height: 20px;
}


#contactrow {
    width: 80%;
    height: 20vh;
    /*border:2px solid red;*/
    color:white;
    text-align: center;
    margin-top: 0.5%;
    /*padding-top: 2%;*/
    opacity: 1; 
 }

#aboutfooter {
	height: 5vh;
	width: 80%;
	 color:white;
	 /*border:2px solid red;*/
     text-align: center;
    margin-top: 1%;
    padding-top: 1%;
    opacity: 1;
}

#navpadding {
	padding-top: 0;
	padding-bottom: 0;
}

#you {
	color: #FF9216;
	font-family: 'Pacifico', cursive;
	text-shadow: 2px 2px #FDFFFC;
}
#everyone {
	font-family: 'Comfortaa', cursive;
}
#navLogo {
	color: #7A460B;
	font-family: 'Pacifico', cursive;
	text-shadow: 2px 2px #FDFFFC;
}

i {
	color: #FDFFFC;
}

.maplogo {
	padding-top: 3%;
	padding-left: 20%;

}
#locmap {
	padding-top: 8%;
}


.centercontact {
list-style-type: none;
font-family: 'Comfortaa', cursive;
font-size: 10px;
text-align: left;
padding-top: 3%;
}

.social {
	letter-spacing: 12px;
}

#newsCarousel{
	width: 50%;
	margin-left: 25%;
}

.createdby {
	font-size: 11px;
}
.copyrightext {
	color:white;
	text-decoration: none;
}
#copyrighta {
	color:white;
	text-decoration: none;
}


/*mobile phone iphone*/
@media only screen and (max-width: 375px){
	
		.mediarow {
		padding-top: 1%;

	}
	#you {
		font-size: 10px;
	}
	#everyone {
		font-size: 5px;
	}

	#sayingTodayrow {
    width: 80%;
    height: 30vh;
    /*border:2px solid red;*/
    color:white;
    text-align: center;
    margin-top: 1%;
    padding-top: 2%;
    opacity: 1; 
 	}

 	 #nav2nd {
 	height: 5vh;
	width: 50%;
	text-align: center;	
	 color:white;
	 /*border:2px solid red;*/
      opacity: 1;
      font-size: 10px;
	}

	header a {
    text-align: center;
 	 padding-bottom: 1%;
    text-decoration: none;
    color: #FF9216;
	font-family: 'Comfortaa', cursive;
	/*text-shadow: 2px 2px #FDFFFC;*/
	 font-size: 10px;
	}

	header a:hover {
    text-align: center;
   	padding-bottom: 1%;
    text-decoration: none;
    color: white;
	font-family: 'Comfortaa', cursive;
	/*text-shadow: 2px 2px #FDFFFC;*/
	 font-size: 10px;
	}

	 #mediarow{
	 	width: 80%;
	 	height: 12vh;
	 	/*border:2px solid red;*/
	 	text-align: center;
	 	opacity: 1;
	 	padding-top: 4%;	
	 }

	 #contactrow {
    width: 80%;
    height: 55vh;
    /*border:2px solid red;*/
    color:white;
    text-align: center;
    margin-top: 0.5%;
    /*padding-top: 2%;*/
    opacity: 1; 
 	}

 	#aboutfooter {
	height: 15vh;
	width: 80%;
	 color:white;
	 /*border:2px solid red;*/
     text-align: center;
    margin-top: 1%;
    padding-top: 1%;
    opacity: 1;
	}

	.container {
	height: 95vh;
	color: black;
	margin-top: 3%;	
	/*margin-bottom: 1%;*/
	width: 80%;
	border:2px solid #EAE2B7;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    background-color: black;
    background:rgba(253,255,252,0.25);
    opacity:1;
	}


}

/*tablet*/

@media only screen and (max-width: 1024px){
	
	.mediarow {
		padding-top: 1%;

	}
	#you {
		font-size: 4rem;
	}
	#everyone {
		font-size: 2rem;
	}

	#sayingTodayrow {
    width: 100%;
    height: 12vh;
    /*border:2px solid red;*/
    color:white;
    text-align: center;
    margin-top: 2%;
    padding-top: 2%;
    opacity: 1; 
 	}

 	 #nav2nd {
 	height: 10vh;
	width: 50%;
	text-align: center;	
	 color:white;
	 /*border:2px solid red;*/
      opacity: 1;
      font-size: 2rem;
	}

	header a {
    text-align: center;
 	 padding-bottom: 1%;
    text-decoration: none;
    color: #FF9216;
	font-family: 'Comfortaa', cursive;
	/*text-shadow: 2px 2px #FDFFFC;*/
	 font-size: 2rem;
	}

	header a:hover {
    text-align: center;
   	padding-bottom: 1%;
    text-decoration: none;
    color: white;
	font-family: 'Comfortaa', cursive;
	/*text-shadow: 2px 2px #FDFFFC;*/
	font-size: 2rem;
	}

	 #mediarow{
	 	width: 100%;
	 	height: 30vh;
	 	/*border:2px solid red;*/
	 	text-align: center;
	 	opacity: 1;
	 	padding-top: 5%;	
	 }

	 #contactrow {
    width: 100%;
    height: 13vh;
    /*border:2px solid red;*/
    color:white;
    text-align: center;
    margin-top: 2%;
    /*padding-top: 2%;*/
    opacity: 1; 
 	}

 	#aboutfooter {
	height: 4vh;
	width: 100%;
	 color:white;
	 /*border:2px solid red;*/
     text-align: center;
    margin-top: 1%;
    padding-top: 1%;
    opacity: 1;
	}

	.container {
	height: 67vh;
	color: black;
	margin-top: 1%;	
	/*margin-bottom: 1%;*/
	width: 80%;
	border:2px solid #EAE2B7;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    background-color: black;
    background:rgba(253,255,252,0.25);
    opacity:1;
	}

	.centercontact {
		line-height: 15px;
		
	}
	.contacth1 {
		font-size:1rem;
	}


}




/*tablet*/

@media only screen and (max-width: 360px){
	
	.mediarow {
		padding-top: 1%;

	}
	#you {
		font-size: 2rem;
	}
	#everyone {
		font-size: 15px;
	}

	#sayingTodayrow {
    width: 80%;
    height: 18vh;
    /*border:2px solid red;*/
    color:white;
    text-align: center;
    margin-top: 2%;
    padding-top: 2%;
    opacity: 1; 
 	}

 	 #nav2nd {
 	height: 8vh;
	width: 50%;
	text-align: center;	
	 color:white;
	 /*border:2px solid red;*/
      opacity: 1;
     font-size: 10px;
	}

	header a {
    text-align: center;
 	 padding-bottom: 1%;
    text-decoration: none;
    color: #FF9216;
	font-family: 'Comfortaa', cursive;
	/*text-shadow: 2px 2px #FDFFFC;*/
	font-size: 10px;
	}

	header a:hover {
    text-align: center;
   	padding-bottom: 1%;
    text-decoration: none;
    color: white;
	font-family: 'Comfortaa', cursive;
	/*text-shadow: 2px 2px #FDFFFC;*/
	font-size: 10px;
	}

	 #mediarow{
	 	width: 80%;
	 	height: 15vh;
	 	/*border:2px solid red;*/
	 	text-align: center;
	 	opacity: 1;
	 	padding-top: 4%;	
	 }

	 #contactrow {
    width: 80%;
    height: 56vh;
    /*border:2px solid red;*/
    color:white;
    text-align: center;
    margin-top: 2%;
    /*padding-top: 2%;*/
    opacity: 1; 
 	}

 	#aboutfooter {
	height: 20vh;
	width: 80%;
	 color:white;
	 /*border:2px solid red;*/
     text-align: center;
    margin-top: 1%;
    padding-top: 1%;
    opacity: 1;
	}

	.container {
	height: 116vh;
	color: black;
	margin-top: 2%;	
	/*margin-bottom: 1%;*/
	width: 80%;
	border:2px solid #EAE2B7;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    background-color: black;
    background:rgba(253,255,252,0.25);
    opacity:1;
	}

	.centercontact {
		line-height: 10px;
		padding-top: 2%;
	}
	#locmap {
		padding-top: 1%;
	}


}


/*tablet*/

/*@media only screen and (max-width: 640px){
	
	.mediarow {
		padding-top: 1%;

	}
	#you {
		font-size: 4rem;
	}
	#everyone {
		font-size: 2rem;
	}

	#sayingTodayrow {
    width: 100%;
    height: 40vh;
   
    color:white;
    text-align: center;
    margin-top: 2%;
    padding-top: 2%;
    opacity: 1; 
 	}

 	 #nav2nd {
 	height: 10vh;
	width: 50%;
	text-align: center;	
	 color:white;
	
      opacity: 1;
      font-size: 1rem;
	}

	header a {
    text-align: center;
 	 padding-bottom: 1%;
    text-decoration: none;
    color: #FF9216;
	font-family: 'Comfortaa', cursive;
	
	 font-size: 1rem;
	}

	header a:hover {
    text-align: center;
   	padding-bottom: 1%;
    text-decoration: none;
    color: white;
	font-family: 'Comfortaa', cursive;
	
	font-size: 1rem;
	}

	 #mediarow{
	 	width: 100%;
	 	height: 65vh;
	 
	 	text-align: center;
	 	opacity: 1;
	 	padding-top: 4%;	
	 }

	 #contactrow {
    width: 100%;
    height: 200vh;
   
    color:white;
    text-align: center;
    margin-top: 2%;
   
    opacity: 1; 
 	}

 	#aboutfooter {
	height: 25vh;
	width: 100%;
	 color:white;
	
     text-align: center;
    margin-top: 1%;
    padding-top: 1%;
    opacity: 1;
	}

	.container {
	height: 350vh;
	color: black;
	margin-top: 3%;	
	
	width: 80%;
	border:2px solid #EAE2B7;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    background-color: black;
    background:rgba(253,255,252,0.25);
    opacity:1;
	}

	.centercontact {
		line-height: 15px;
		
	}

	#locmap {
		padding-top: 2%;
	}
	.contacth1 {
		font-size:1rem;
	}


}
*/

