* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #EAE2B7;
	
}


.container:after {
	content: "";
	display: block;
	clear:both;
}




.container {
	height: 100%;
	color: black;
	margin-top: 2%;	
	width: 80%;
	/*border:2px solid #EAE2B7;*/
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    background-color: black;
    background:rgba(253,255,252,0.25);
    opacity:1;
}

#sayingTodayrow {
    width: 100%;
    height: 13vh;
    /*border:2px solid red;*/
    color:white;
    text-align: center;
    margin-top: 3%;
    /*padding-top: 1%;*/
    opacity: 1; 
 }

 #you {
	color: #FF9216;
	font-family: 'Pacifico', cursive;
	text-shadow: 2px 2px #FDFFFC;
}
#everyone {
	font-family: 'Comfortaa', cursive;
}


 #mediarow{
 	width: 100%;
 	height: 78vh;
 	/*border:2px solid red;*/
 	text-align: center;
 	margin-top: 0.2%;
 	opacity: 1;
 	padding-top: 0.2%;	
 }


#contactrow {
    width: 100%;
    height: 34vh;
    /*border:2px solid red;*/
    color:white;
    text-align: center;
    margin-top: 0.2%;
    /*padding-top: 2%;*/
    opacity: 1; 
 }

#aboutfooter {
	height: 4vh;
	width: 100%;
	 color:white;
	 /*border:2px solid red;*/
     text-align: center;
    margin-top: 0.2%;
    /*padding-top: 1%;*/
    opacity: 1;
}
#aboutfooter i {
	color: white;
}

#navlogo {
	color: #1B645C;
	font-family: 'Pacifico', cursive;
	text-shadow: 2px 2px #FDFFFC;
}
nav span #closed{
	display: none;

}
nav #open:active #closed{
	display: block;
}

nav span:active #open{
	display: none;
}


/*sample*/
nav a:hover {
	/*background-color: transparent;*/
	color: #FF9F1C;

}
nav:hover {
	/*background-color: transparent;*/
	color: #264653;
	background: transparent;
}

/* Add a black background color to the top navigation */
nav {
    background-color: #FF9F1C;
    backface-visibility: visible;
    overflow: hidden;
}

 /*Style the links inside the navigation bar */
nav a {
    float: left;
    color: #1B645C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navpadding {
	padding-top: 0;
	padding-bottom: 0;
}


/*
i {
	color: #FDFFFC;
}*/

.maplogo {
	padding-top: 3%;
	padding-left: 20%;

}
#locmap {
	padding-top: 1%;
}


.centercontact {

font-family: 'Comfortaa', cursive;
font-size: 1rem;
text-align: left;
/*padding-top: 3%;*/
}

.social {
	letter-spacing: 12px;
}

#newsCarousel{
	width: 50%;
	margin-left: 25%;
}

.createdby {
	font-size: 11px;
}
.copyrightext {
	color:white;
	text-decoration: none;
}
#copyrighta {
	color:white;
	text-decoration: none;
}



@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
@-ms-viewport {
  width: device-width ;
}





@media screen and (min-width: 321px) and (max-width: 1024px) {

	.mediarow {
		padding-top: 1%;
	}
	
	#you {
		font-size: 2rem;
	}
	#everyone {
		font-size: 1rem;
	}

	#sayingTodayrow {
    width: 100%;
    height: 12vh;
   color:white;
    text-align: center;
    margin-top: 12%;
  
    opacity: 1; 
 	}

 	

	header a {
    text-align: center;
 	 padding-bottom: 1%;
    text-decoration: none;
    color: #FF9216;
	font-family: 'Comfortaa', cursive;
	
	 font-size: 10px;
	}

	header a:hover {
    text-align: center;
   	padding-bottom: 1%;
    text-decoration: none;
    color: white;
	font-family: 'Comfortaa', cursive;
	
	 font-size: 10px;
	}

	 #mediarow{
	 	width: 100%;
	 	height: 25vh;
	 	text-align: center;
	 	opacity: 1;
	 	padding-top: 4%;	
	 }

	 #contactrow {
    width: 100%;
    height: 95vh;
   
    color:white;
    text-align: center;
    margin-top: 0.5%;
    opacity: 1; 
 	}

 	#aboutfooter {
	height: 15vh;
	width: 100%;
	 color:white;
	
     text-align: center;
    margin-top: 1%;
    padding-top: 1%;
    opacity: 1;
	}

	.container {
	height: 95vh;
	color: black;
	margin-top: 3%;	
	
	width: 90%;
	border:2px solid #EAE2B7;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    background-color: black;
    background:rgba(253,255,252,0.25);
    opacity:1;
	}


}

/*tablet*/

/*@media only screen and (max-width: 1024px){
	
	.mediarow {
		padding-top: 1%;

	}
	#you {
		font-size: 2rem;
	}
	#everyone {
		font-size: 1rem;
	}

	#sayingTodayrow {
    width: 90%;
    height: 10vh;
 
    color:white;
    text-align: center;
    margin-top: 12%;
  
    opacity: 1; 
 	}

 

	header a {
    text-align: center;
 	 padding-bottom: 1%;
    text-decoration: none;
    color: #FF9216;
	font-family: 'Comfortaa', cursive;

	 font-size: 2rem;
	}

	header a:hover {
    text-align: center;
   	padding-bottom: 1%;
    text-decoration: none;
    color: white;
	font-family: 'Comfortaa', cursive;
	
	font-size: 2rem;
	}

	 #mediarow{
	 	width: 90%;
	 	height: 30vh;
	 	
	 	text-align: center;
	 	opacity: 1;
	 	padding-top: 5%;	
	 }

	 #contactrow {
    width: 90%;
    height: 13vh;
  
    color:white;
    text-align: center;
    margin-top: 2%;
  
    opacity: 1; 
 	}

 	#aboutfooter {
	height: 4vh;
	width: 90%;
	 color:white;
	
     text-align: center;
    margin-top: 1%;
    padding-top: 1%;
    opacity: 1;
	}

	.container {
	height: 67vh;
	color: black;
	margin-top: 1%;	
	
	width: 80%;
	border:2px solid #EAE2B7;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    background-color: black;
    background:rgba(253,255,252,0.25);
    opacity:1;
	}

	.centercontact {
		line-height: 15px;
		
	}
	


}*/




/*tablet*/

/*@media only screen and (max-width: 360px){
	

	header a {
    text-align: center;
 	 padding-bottom: 1%;
    text-decoration: none;
    color: #FF9216;
	font-family: 'Comfortaa', cursive;
	
	font-size: 10px;
	}

	header a:hover {
    text-align: center;
   	padding-bottom: 1%;
    text-decoration: none;
    color: white;
	font-family: 'Comfortaa', cursive;
	
	font-size: 10px;
	}

	.mediarow {
		padding-top: 1%;
	}
	#you {
		font-size: 2rem;
	}
	#everyone {
		font-size: 15px;
	}

	#sayingTodayrow {
    width: 90%;
    height: 12vh;
 
    color:white;
    text-align: center;
    margin-top: 12%;
   
    opacity: 1; 
 	}

 	 #nav2nd {
 	height: 8vh;
	width: 50%;
	text-align: center;	
	 color:white;
	
      opacity: 1;
     font-size: 10px;
	}



	 #mediarow{
	 	width: 90%;
	 	height: 15vh;
	 	
	 	text-align: center;
	 	opacity: 1;
	 	padding-top: 4%;	
	 }

	 #contactrow {
    width: 90%;
    height: 56vh;
    
    color:white;
    text-align: center;
    margin-top: 2%;
   
    opacity: 1; 
 	}

 	#aboutfooter {
	height: 20vh;
	width: 90%;
	 color:white;

     text-align: center;
    margin-top: 1%;
    padding-top: 1%;
    opacity: 1;
	}

	.container {
	height: 116vh;
	color: black;
	margin-top: 2%;	
	
	width: 80%;
	border:2px solid #EAE2B7;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    background-color: black;
    background:rgba(253,255,252,0.25);
    opacity:1;
	}

	.centercontact {
		line-height: 10px;
		padding-top: 2%;
	}
	#locmap {
		padding-top: 1%;
	}


}*/


/*tablet*/

/*@media only screen and (max-width: 640px){
	
	.mediarow {
		padding-top: 1%;

	}
	#you {
		font-size: 4rem;
	}
	#everyone {
		font-size: 2rem;
	}

	#sayingTodayrow {
    width: 100%;
    height: 40vh;
   
    color:white;
    text-align: center;
    margin-top: 2%;
    padding-top: 2%;
    opacity: 1; 
 	}

 	 #nav2nd {
 	height: 10vh;
	width: 50%;
	text-align: center;	
	 color:white;
	
      opacity: 1;
      font-size: 1rem;
	}

	header a {
    text-align: center;
 	 padding-bottom: 1%;
    text-decoration: none;
    color: #FF9216;
	font-family: 'Comfortaa', cursive;
	
	 font-size: 1rem;
	}

	header a:hover {
    text-align: center;
   	padding-bottom: 1%;
    text-decoration: none;
    color: white;
	font-family: 'Comfortaa', cursive;
	
	font-size: 1rem;
	}

	 #mediarow{
	 	width: 100%;
	 	height: 65vh;
	 
	 	text-align: center;
	 	opacity: 1;
	 	padding-top: 4%;	
	 }

	 #contactrow {
    width: 100%;
    height: 200vh;
   
    color:white;
    text-align: center;
    margin-top: 2%;
   
    opacity: 1; 
 	}

 	#aboutfooter {
	height: 25vh;
	width: 100%;
	 color:white;
	
     text-align: center;
    margin-top: 1%;
    padding-top: 1%;
    opacity: 1;
	}

	.container {
	height: 350vh;
	color: black;
	margin-top: 3%;	
	
	width: 80%;
	border:2px solid #EAE2B7;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    background-color: black;
    background:rgba(253,255,252,0.25);
    opacity:1;
	}

	.centercontact {
		line-height: 15px;
		
	}

	#locmap {
		padding-top: 2%;
	}
	


}
*/

