* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #EAE2B7;
	
}


.container:after {
	content: "";
	display: block;
	clear:both;
}

header a {
    text-align: center;
 	 padding-bottom: 1%;
    text-decoration: none;
    color: #FF9216;
	font-family: 'Comfortaa', cursive;
	/*text-shadow: 2px 2px #FDFFFC;*/
}

header a:hover {
    text-align: center;
   	padding-bottom: 1%;
    text-decoration: none;
    color: white;
	font-family: 'Comfortaa', cursive;
	/*text-shadow: 2px 2px #FDFFFC;*/
}


.container {
	height: 100vh;
	color: black;
	margin-top: 2%;	
	/*margin-bottom: 1%;*/
	width: 80%;
	border:2px solid #EAE2B7;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
    background-color: black;
    background:rgba(253,255,252,0.25);
    opacity:1;
}
#sayingTodayrow {
    width: 80%;
    height: 20vh;
    /*border:2px solid red;*/
    color:white;
    text-align: center;
    margin-top: 1%;
    padding-top: 2%;
    opacity: 1; 
 }

 #mediarow{
 	width: 80%;
 	height: 45vh;
 	/*border:2px solid red;*/
 	text-align: center;
 	opacity: 1;
 	padding-top: 1%;
 
 	
 }
 #nav2nd {
 	height: 5vh;
	width: 80%;
	text-align: center;	
	 color:white;
	 /*border:2px solid red;*/
      opacity: 1;
}


#contactrow {
    width: 80%;
    height: 20vh;
    /*border:2px solid red;*/
    color:white;
    text-align: center;
    margin-top: 0.5%;
    /*padding-top: 2%;*/
    opacity: 1; 
 }

#aboutfooter {
	height: 5vh;
	width: 80%;
	 color:white;
	 /*border:2px solid red;*/
     text-align: center;
    margin-top: 1%;
    padding-top: 1%;
    opacity: 1;
}

#navpadding {
	padding-top: 0;
	padding-bottom: 0;
}

#you {
	color: #FF9216;
	font-family: 'Pacifico', cursive;
	text-shadow: 2px 2px #FDFFFC;
}
#everyone {
	font-family: 'Comfortaa', cursive;
}
#navLogo {
	color: #7A460B;
	font-family: 'Pacifico', cursive;
	text-shadow: 2px 2px #FDFFFC;
}

i {
	color: #FDFFFC;
}

.maplogo {
	padding-top: 3%;
	padding-left: 20%;

}
#locmap {
	padding-top: 8%;
}


.centercontact {
list-style-type: none;
font-family: 'Comfortaa', cursive;
font-size: 10px;
text-align: left;
padding-top: 3%;
}

.social {
	letter-spacing: 12px;
}

#newsCarousel{
	width: 50%;
	margin-left: 25%;
}

.createdby {
	font-size: 11px;
}
.copyrightext {
	color:white;
	text-decoration: none;
}
#copyrighta {
	color:white;
	text-decoration: none;
}



/*Animate.css style
h1 {
	letter-spacing: 5px;
}
/*
@media only screen and (max-width: 640px){
	#askbtn {
	width: 60%;
}
	#asktxt {
		font-size: 10px;
	}
	#askbtn {
	width: 60%;
}
	}
	.mediarow {
		padding-top: 1%;

	}
	#you {
		/*font-size: 1rem;*/
/*	}
	#everyone {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 1024px){
	#askbtn {
	width: 80%;
}
	#asktxt {
		font-size: 30px;

	}
	.mediarow {
		padding-top: 10%;

	}
	#you {
		padding-top: 5%;
		font-size: 5rem;
	}
	#everyone {
		padding-top: 5%;
		font-size: 2rem;
	}
}

@media only screen and (max-width: 412px){
	#askbtn {
	width: 80%;
}
	#asktxt {
		font-size: 12px;

	}

}

@media only screen and (max-width: 1024px) and (max-width: 375px){
	#askbtn {
	width: 80%;
}
	#asktxt {
		font-size: 11px;

	}

}
*/




