* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #B5B1AF;
}
.container {
	/*height: 1000px;*/
	text-align: center;
	color: gray;
	padding-top: 5%;
	margin-top: 3%;
	height: 80vh;
	width: 100%;
	/*background-color: #B5B1AF;*/
}

.reviewsrow {
	height: 60vh;
	width:100%;
	background-color: transparent;
}

.menuheader {
	height: 20vh;
	width: 100%;
	color: white;
	background-color: transparent;
}

#navlogo {
	color: #1B645C;
	font-family: 'Pacifico', cursive;
	text-shadow: 2px 2px #FDFFFC;
}
nav span #closed{
	display: none;

}
nav #open:active #closed{
	display: block;
}

nav span:active #open{
	display: none;
}
#closed {
	
	
	padding-top: 10%;
}







/*sample*/
nav a:hover {
	/*background-color: transparent;*/
	color: #FF9F1C;

}
nav:hover {
	/*background-color: transparent;*/
	color: #264653;
	background: transparent;
}

/* Add a black background color to the top navigation */
nav {
    background-color: #FF9F1C;
    backface-visibility: visible;
    overflow: hidden;
}

 /*Style the links inside the navigation bar */
nav a {
    float: left;
    color: #1B645C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navpadding {
	padding-top: 0;
	padding-bottom: 0;
}

#leftfooter {
	text-align: center;
	/*padding-top: 1%;*/
}
#rightfooter {
	text-align: center;
	/*padding-top: 1%;*/
}

/*footer:hover {
	opacity: 1;
}*/

#locmap {
	width: 100%;
}

footer {
	height: 3%;
	width: 100%;
	background-color: #FA7921;
	
}

footer a {
	letter-spacing: 20px;
	color:gray;
}
footer a:hover {
	letter-spacing: 20px;
	color:gray;
	background: transparent;
}
footer:hover {
	background: transparent;
}


/*content css style */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

.checked {
    color: orange;
}
h5,span {
	text-align: center;
	padding-top: 5%;
}

.flip-card:p {
	text-align: center;
	padding-top: 5%;
}