* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.aboutRow {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
.aboutfactsRow {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
.aboutskillsRow {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}




.jumbotron {
	opacity: 1px;
	background: none;
}

h3 {
	text-align: right;
}

a {
	margin: 15px;
}

footer {
	width: 100%;
}
.rightfooter {
	text-align: right;
}






